<!-- app/templates/resume.html -->
{% extends "base.html" %}

{% block content %}
<h2>Resume</h2>

<section>
    <h3>Career Objective</h3>
    <p>Results-oriented Software Engineer with 3 years of experience in Agile Full Stack Software Engineering/Development and excellent work ethic seeking a position in the Software Engineering field that will allow me to expand and enhance my analytical and technical skills while improving efficiency and profitability.</p>
</section>

<section>
    <h3>Technical Skills</h3>
    <ul>
        <li><strong>Programming Languages:</strong> Python, SQL, HTML, CSS/SCSS, JavaScript/TypeScript, .NET (C#), DXL</li>
        <li><strong>Frameworks/Libraries:</strong> Boto, Pandas, .NET, ASP.NET, .NET Core, Razor Pages, Entity Framework, Angular, MuyPDF</li>
        <li><strong>Software:</strong> Adobe, Confluence, Jira, Sumo Logic, Postman, Git, MacOS, Windows, CATIA V5/V6, MS Office Suite, SwaggerUI, Grafana, Azure DevOps, AWS (DynamoDB, SageMaker, S3), MongoDB, Dynatrace, CircleCI, Docker, SQLite, Microsoft SQL Server, Kubernetes, DOORS, Splunk</li>
        <li><strong>Fields of Interest:</strong> Artificial Intelligence, Machine Learning, Algorithms, Data Engineering, Software Engineering</li>
    </ul>
</section>

<section>
    <h3>Experience</h3>
    <ul>
        <li><strong>Booz Allen Hamilton - Data Engineer Summer Internship (May 2024 – Present)</strong></li>
        <ul>
            <li>Developed a library leveraging AWS Textract OCR and Python Boto module to extract information from engineering schematics, streamlining data extraction processes by 30%.</li>
            <li>Migrated data pipelines from Python to AWS SageMaker and S3 buckets, enhancing scalability and improving data processing speed by 25%.</li>
            <li>Designed and implemented a robust, multi-threaded document transformation and quality assurance pipeline using Python, Pandas, joblib, and SQLite.</li>
        </ul>
        <!-- Add more experiences following the same format -->
    </ul>
</section>

<section>
    <h3>Education</h3>
    <ul>
        <li><strong>Wayne State University, Detroit MI</strong> - Bachelor of Science in Computer Science (Expected Graduation Date: May 2024)</li>
        <li><strong>Oakland Community College, Southfield MI</strong> - Associates of Arts in General Studies</li>
    </ul>
</section>

<section>
    <h3>Involvement</h3>
    <ul>
        <li><strong>Society of Computer Developers, Wayne State University</strong> - Member (January 2023 - Present)</li>
        <li><strong>National Society of Black Engineers (NSBE), Wayne State University</strong> - Member (August 2023 - Present)</li>
    </ul>
</section>
{% endblock %}